.footer {
	background-color: #1E1231;
  border: 4px solid #478BF9;
  border-bottom: none;
  border-radius: 64px 64px 0px 0px;
	padding: 40px 140px 24px 140px;

&__inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // padding-top: 26px;
}

&__social-list{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

&__social-inner {
  padding-top: 14px;
  display: flex;
  gap: 8px;
  // justify-content: space-between;
  // align-items: center;
}

&__social-item {
  list-style: none;
}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}
